# DB
DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres?schema=public"
DIRECT_URL="postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres?schema=public"

# Autenticação
JWT_SECRET=""
JWT_EXPIRES_IN="2h"

# Configuração
PORT=3000
NODE_ENV=development